:root {
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);
  --VeryDarkBlue: hsl(234, 12%, 34%);
  --GrayishBlue: hsl(229, 6%, 66%);
  --VeryLightGray: hsl(0, 0%, 98%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
}
body {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  display: grid;
  place-content: center;
  min-height: 100vh;
  background-color: var(--VeryLightGray);
}
/* .container {
  margin: 50px 20px;
  border: 1px solid red;
} */
header {
  text-align: center;
  max-width: 500px;
  margin-bottom: 30px;
  margin: 0 auto;
  margin-block: 2rem;
}
h1 {
  font-weight: 200;
  margin: 0;
}
h1:nth-child(2) {
  font-weight: 600;
}
p {
  color: var(--GrayishBlue);
}
main .cards {
  margin-block: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards .card {
  max-width: 356px;

  background-color: white;
  padding: 1.5rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  margin: 1rem;

  box-shadow: 0px 0px 16px hsl(180, 62%, 55%, 0.15);
}

.cards .first-card {
  border-top: 0.5rem solid var(--Cyan);
}

.cards .second-card {
  border-top: 0.5rem solid var(--Red);
}

.cards .third-card {
  border-top: 0.5rem solid var(--Orange);
}

.cards .fourth-card {
  border-top: 0.5rem solid var(--Blue);
}
.cards .card h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.cards .card p {
  margin-bottom: 3rem;
}
.cards .card img {
  align-self: flex-end;
}

@media (min-width: 768px) {
  main .cards {
    display: flex;

    flex-direction: row;
  }
  .col {
    display: grid;
    gap: 1rem;
    align-content: center;
    justify-content: center;
  }
}
